{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
<title>Change-Password</title>
{% endblock title %}


{% block content %}
<div class="limiter">

    <div class="container-login100" style="background-color: black; background-image: url({% static " img/login.jpg" %}); ">
        <div class=" wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41">
            Change-Password
        </span>

        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-info" role="alert">
                    <strong>{{msg}}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form class="login100-form validate-form p-b-33 p-t-5" method="POST" action="" novalidate>
            {% csrf_token %}

            <div class="wrap-input100 ">
                <div class="input100 pl-4">
                    {{form.old_password.label }} <br>
                    <br>
                    {{form.old_password}}
                </div>
            </div>

            <div class="wrap-input100 ">
                <div class="input100 pl-4">
                    {{form.new_password1.label}} <br>
                    <br>
                    {{form.new_password1}}
                </div>
            </div>

            <div class="wrap-input100 ">
                <div class="input100 pl-4">
                    {{form.new_password2.label}} <br>
                    <br>
                    {{form.new_password2}}
                </div>
            </div>

            <div class="container-login100-form-btn m-t-32">
                <button class="login100-form-btn" type="submit">
                    Change Password
                </button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>

        </form>
    </div>
</div>
</div>
{% endblock content %}