{% extends "base.html" %}
{% load static %}

{% block title %} <title>Index</title> {% endblock title %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area relative" id="home" data-parallax="scroll"
	data-image-src="{% static 'img/header-bg.jpg' %}">
	<div class="overlay-bg overlay"></div>
	<div class="container">
		{% if messages %}
		{% for msg in messages %}
		<div class="alert alert-info mx-auto m-2 p-3 text-center" style="font-size: 150%;" role="alert">
			<strong>{{msg}}</strong>
		</div>
		{% endfor %}
		{% endif %}
		<div class="row fullscreen">

			<div class="banner-content d-flex align-items-center col-lg-12 col-md-12">
				<h1>
					Welcome to my Blog site <br>
					<a href="/addblog/" class="btn btn-primary pt-0" style="background-color:darkcyan"> <br> Add your
						Blog now</a>
				</h1>


			</div>
			<div class="head-bottom-meta d-flex justify-content-between align-items-end col-lg-12">
				<div class="col-lg-6 flex-row d-flex meta-left no-padding">
					<!-- <p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p> -->
				</div>
				<div class="col-lg-6 flex-row d-flex meta-right no-padding justify-content-end">
					<div class="user-meta">

					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->


<!-- Start category Area -->

<section class="fashion-area section-gap" id="fashion">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Explore Your Blog</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.</p>

				</div>

			</div>
		</div>
		<div class="row">
			{% if blog_list %}
			{% for post in blog_list %}
			{% if post.status == 1 %}
			<div class="col-lg-3 col-md-6 single-fashion" style="border: none;">
				{% if post.image %}
				<a href="{% url  'blog_detail' post.slug %}"><img class="img-fluid" src="{{post.image.url}}"
						alt="image"></a>
				{% else %}
				<a href="{% url  'blog_detail' post.slug %}"><img class="img-fluid" src="" alt="image"></a>
				{% endif %}
				<div class="body-body">
					<p class="date">{{post.created_on|date}}</p>
					<h4><a href="{% url 'blog_detail' post.slug %}">{{post.title}}</a></h4>
					<div class="meta-bottom d-flex justify-content-between">
						<p><span class="lnr lnr-bubble"></span> &nbsp;{{post.comments.count}}</p>
					</div>
				</div>
				<a href="{% url  'blog_detail' post.slug %}" class="btn btn-outline-dark">Read full Blog</a>
			</div>
			{% endif %}
			{% endfor %}
			{% else %}
			<p class="mx-auto">Sorry 😔, No Blogs Found in this Catagory now</p>
			{% endif %}
			<!-- <a href="#" class="primary-btn load-more pbtn-2 text-uppercase mx-auto mt-60">Load More </a> -->
		</div>
	</div>
</section>

<!-- End category Area -->

{% endblock content %}

{% block form %}
<form action="{% url 'index' %}" method="POST" novalidate>
	{% csrf_token %}
	<div class="form-group row" style="width: 100%">
		<div class="col-lg-8 col-md-12">
			<input hidden name="email" placeholder="Enter Email" required="" type="email">
			{{sub_form.sub_email.label}}
			{{sub_form.sub_email}}
		</div>
		<div class="col-lg-4 col-md-12">
			<br>
			<button class="nw-btn primary-btn" type="submit"> Subscribe<span
					class="lnr lnr-arrow-right"></span></button>
		</div>
	</div>
</form>
{% endblock form %}