{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
<title>Password reset link sent</title>
{% endblock title %}


{% block content %}
<div class="limiter">

    <div class="container-login100"
        style="background-color: black;  background-image: url({% static 'img/login.jpg' %});">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                Password reset link sent
            </span>

            <p style="color: blanchedalmond;">We’ve emailed you instructions for setting your password, if an account
                exists with the email you entered. You should receive them shortly. <br>
<br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.</p>

        </div>
    </div>
</div>
{% endblock content %}